@import url('reset.css');
@import url('fontawsome.css');
@import url('grid.css');
@import url('buttons.css');
@import url('form.css');
@import url('ui.css');
@import url('app.css');


/*Misc Styles*/
/*===========================================================================*/
/*                                   Videos                                  */
/*===========================================================================*/
.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.video iframe,  
.video object,  
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*===========================================================================*/
/*                                  Images                                   */
/*===========================================================================*/
img {
    max-width: 100%;
    height: auto;
}

@media \0screen {
  img { 
    width: auto; /* for ie 8 */
  }
}

/*===========================================================================*/
/*                                SHORT CUTS                                 */
/*===========================================================================*/
.left {
    display:block;
    position:relative;
    float:left;
}

.right {
    display:block;
    position:relative;
    float:right
}

.fullWidth {
    width:100%;
}

.align_center {
    text-align:center;
}

.align_left {
    text-align:left;
}

.align_right {
    text-align:right;
}

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
